version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth_db
    ports:
      - "8000:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: express_app
    restart: always
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=auth_db
      - DB_PORT=5432
      - PORT=3000
      - JWT_SECRET=A/cbpOhWfpBtYAcHystIVPW7C/BJ+Lix2Uxy9Ft2eL8=
    depends_on:
      - db
    ports:
      - "8080:3000"
    command: ["npm", "start"]

volumes:
  pgdata:
